<div class = "Add_Cal base">
<div class = "ContensTitle">
<h1>Add_page</h1>
</div>

<div class = "Main_Area">

<%= form_tag({ :controller => 'calories', :action => 'create' },{ :method => :post}) do %>
<p>InputDay</p>
<input type = "text" name = "Day" value = "<%= Date.today %>">
<p>item</p>
<input type = "text" name = "item" value = "">
<p>GetCalory</p>
<input type = "text" name = "cal" value = "0">

<input type = "submit" value = "Save">
<%end%>

</div>

</div>