<div class = "login base" >
<div class = "ContensTitle">
<h1>Loginpage</h1>
</div>
<div class = "Main_Area">

<%= form_tag("home/Main") do %>
<div class = "login_Form" >
<p>Account Name</p>
<input type = "text" name ="username" class = "form_area">
<p>Password</p>
<input type = "text" name ="password" class = "form_area">
<p></p>
<input type = "submit" name ="Loginacton" value = "Login" class ="contens_btn login_btn">

</div>
<% end %>
</div>

</div>