<div class = "Main base">
<div class = "ContensTitle">
 <h1>HestMaincontens</h1>
</div>

<div class = "Main_Area">

<div class = "veiw">
<%= link_to("Add_Page","/edit_data/Add_Cal") %>
    <% @calories.each do| calory | %>
        <div class = "Contains">
            <%= "#{calory.Day}:#{calory.cal}" %>
        </div>
    <%end%>
</div>

</div>

</div>

