<div class = "Main base">
<h1>HestMaincontens</h1>

<%= link_to("Add_Page","/edit_data/Add_Cal") %>

<div class = "veiw">
    <% @calories.each do| calory | %>
        <div class = "Contains">
            <%= "#{calory.Day}:#{calory.cal}" %>
        </div>
    <%end%>
</div>

</div>

