<div class = "login base" >
<div class = "ContensTitle">
<h1>Create User</h1>
</div>
<div class = "Main_Area">

<%= form_tag({:controller => 'user', :action => 'Adduser' },{ :method => :post}) do %>

<div class = "create_Form" >
<p>Account Name</p>
<input type = "text" name ="username" class = "form_area">
<p>Password</p>
<input type = "text" name ="password" class = "form_area">
<p></p>
<input type = "submit" name ="Loginacton" value = "Create user" class ="contens_btn create_btn">
</div>
<% end %>

</div>
</div>

