// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.login{
    margin: 0px;    
}

.login h1{
    margin: 0px;
    color:white;
    font-weight: normal; 
    font-family: 'Alegreya Sans SC', sans-serif;
    border-bottom: solid;
    border-width:0.1px;
    
}

.base{
    height: 100%;
    margin: 0px;

}

.login_Form{
    color:white;
    font-weight: normal; 
    font-family: 'Alegreya Sans SC', sans-serif;
    padding-right: 45px;
    padding-bottom: 45px;

}


.Main{
    margin: 0px;
}


.veiw{
    width:60%;
    overflow-y:scroll;
    border-top: double;
    border-color: rgba(255, 110, 80, 0.8);
    height: 385px;
    background-color:rgba(150,150,150, .6);
}
.veiw::-webkit-scrollbar {
    width: 5px;
  }
  .veiw::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, rgba(100,100,100, .5),rgba(100,100,100, .8) );
    border-radius: 3px;
  }
  .veiw::-webkit-scrollbar-track {
    background: rgba(100,100,100, .3);
  }
  
   
.Contains{
    border-style: groove;
    border-color:rgba(220, 220, 80, 0.8);
    border-width: 0.5px;
    padding-left: 5px;
    height: 35px;
    margin-bottom: 5px;
    margin-top: 5px;
    
    margin-left: 1px;
    margin-right: 1px;
    background-color:rgba(120,120,30,0.8);
    
}

.col{
    font-size: 20px;
    color:white;
    font-family: 'Lato', 'Noto Sans JP', sans-serif;
    width:49%;
    float:left;
    height: 100%;
    text-align: center;
}

.item{
    border-width:0.5px;
    border-right:groove;
    border-color:rgba(220, 220, 80, 0.8);

}