// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.login h1{
    color:white;
    font-weight: normal; 
    font-family: 'Alegreya Sans SC', sans-serif;
    border-bottom: solid;
    border-width:0.1px;
    padding-left: 30px;
    
}

.base{
    height: 100%;
}

.login_Form{
    color:white;
    font-weight: normal; 
    font-family: 'Alegreya Sans SC', sans-serif;
    padding-left: 45px;
    padding-right: 45px;
    padding-bottom: 45px;
    

}

.Main{
    color:white;
    font-weight: normal; 
    font-family: 'Alegreya Sans SC', sans-serif;    
}

.Main h1{
    padding-left: 30px;
}
.veiw{
    width:50%;
    overflow-y:scroll;
    border-top: double;
    border-color: rgba(255, 110, 80, 0.8);
    margin-left: 45px;
    height: 385px;
    background-color:rgba(150,150,150, .6);
}
.veiw::-webkit-scrollbar {
    width: 5px;
  }
  .veiw::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, rgba(100,100,100, .5),rgba(100,100,100, .8) );
    border-radius: 3px;
  }
  .veiw::-webkit-scrollbar-track {
    background: rgba(100,100,100, .3);
  }
  
   
.Contains{
    border-style: groove;
    border-color:rgba(220, 220, 80, 0.8);
    border-width: 0.5px;
    padding-left: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 5px;
    margin-left: 1px;
    margin-right: 1px;
}


