// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.create_Form{
    color:cadetblue;
    font-weight: normal; 
    padding-right: 45px;
    padding-bottom: 45px;
    font-size: 30px;
    font-family: 'MyFont', sans-serif;

}


.create_btn{
    width: 120px;
    margin-left:160px ;

}
